@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
/* line 1, ../PROJEKTY/GoIT/sass/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../PROJEKTY/GoIT/sass/_reset.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 1, ../PROJEKTY/GoIT/sass/_header.scss */
.header {
  width: 100%;
  height: 1000px;
  padding: 28px;
  background-color: #fce38a;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

@media (max-width: 768px) {
  /* line 1, ../PROJEKTY/GoIT/sass/_header.scss */
  .header {
    height: 700px;
  }
}

/* line 15, ../PROJEKTY/GoIT/sass/_header.scss */
.header__navContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  /* line 15, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__navContainer {
    height: 104px;
    padding: 42px 28px;
  }
}

/* line 28, ../PROJEKTY/GoIT/sass/_header.scss */
.header__navigation--mobile {
  display: none;
}

@media (max-width: 992px) {
  /* line 28, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__navigation--mobile {
    display: block;
  }
}

/* line 35, ../PROJEKTY/GoIT/sass/_header.scss */
.header__logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
}

@media (max-width: 992px) {
  /* line 35, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__logoContainer {
    width: 50%;
  }
}

/* line 47, ../PROJEKTY/GoIT/sass/_header.scss */
.header__logo {
  text-decoration: none;
  transition: 0.1s;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

/* line 60, ../PROJEKTY/GoIT/sass/_header.scss */
.header__navigation {
  width: 60%;
}

@media (max-width: 992px) {
  /* line 60, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__navigation {
    display: none;
  }
}

/* line 68, ../PROJEKTY/GoIT/sass/_header.scss */
.header__navList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

/* line 74, ../PROJEKTY/GoIT/sass/_header.scss */
.header__navItem {
  text-align: left;
  cursor: pointer;
}

/* line 77, ../PROJEKTY/GoIT/sass/_header.scss */
.header__navItem:hover a {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

/* line 82, ../PROJEKTY/GoIT/sass/_header.scss */
.header__navLink {
  text-decoration: none;
  transition: 0.1s;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 99, ../PROJEKTY/GoIT/sass/_header.scss */
.header__hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 112, ../PROJEKTY/GoIT/sass/_header.scss */
.header__subtitle {
  margin-bottom: 42px;
  margin-top: 150px;
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  text-align: center;
}

@media (max-width: 992px) {
  /* line 112, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__subtitle {
    font-size: 60px;
    margin-top: 120px;
  }
}

@media (max-width: 768px) {
  /* line 112, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__subtitle {
    font-size: 48px;
    margin-top: 56px;
  }
}

@media (max-width: 576px) {
  /* line 112, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__subtitle {
    font-size: 30px;
  }
}

/* line 132, ../PROJEKTY/GoIT/sass/_header.scss */
.header__title {
  width: 100%;
  max-width: 802px;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 150px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  /* line 132, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__title {
    font-size: 72px;
  }
}

@media (max-width: 768px) {
  /* line 132, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__title {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  /* line 132, ../PROJEKTY/GoIT/sass/_header.scss */
  .header__title {
    font-size: 48px;
  }
}

/* line 152, ../PROJEKTY/GoIT/sass/_header.scss */
.header__button {
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  width: 160px;
  height: 40px;
}

/* line 167, ../PROJEKTY/GoIT/sass/_header.scss */
.header__mobileBtn {
  cursor: pointer;
}

/* line 1, ../PROJEKTY/GoIT/sass/_services.scss */
.services {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 42px;
}

@media (max-width: 992px) {
  /* line 1, ../PROJEKTY/GoIT/sass/_services.scss */
  .services {
    padding: 28px;
  }
}

@media (max-width: 768px) {
  /* line 1, ../PROJEKTY/GoIT/sass/_services.scss */
  .services {
    padding: 16px;
  }
}

@media (max-width: 576px) {
  /* line 1, ../PROJEKTY/GoIT/sass/_services.scss */
  .services {
    padding: 14px;
  }
}

/* line 15, ../PROJEKTY/GoIT/sass/_services.scss */
.services__subtitle {
  width: 100%;
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin-top: 56px;
}

/* line 25, ../PROJEKTY/GoIT/sass/_services.scss */
.services__title {
  width: 100%;
  color: #333333;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

/* line 35, ../PROJEKTY/GoIT/sass/_services.scss */
.services__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

/* line 40, ../PROJEKTY/GoIT/sass/_services.scss */
.services__card {
  display: flex;
  padding: 28px;
}

@media (max-width: 992px) {
  /* line 40, ../PROJEKTY/GoIT/sass/_services.scss */
  .services__card {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  /* line 40, ../PROJEKTY/GoIT/sass/_services.scss */
  .services__card {
    padding: 14px;
  }
}

/* line 50, ../PROJEKTY/GoIT/sass/_services.scss */
.services__icon {
  margin-right: 28px;
  padding-top: 28px;
}

@media (max-width: 768px) {
  /* line 50, ../PROJEKTY/GoIT/sass/_services.scss */
  .services__icon {
    margin-right: 16px;
  }
}

/* line 58, ../PROJEKTY/GoIT/sass/_services.scss */
.services__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* line 62, ../PROJEKTY/GoIT/sass/_services.scss */
.services__content > h5 {
  width: 100%;
  color: #333333;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

/* line 70, ../PROJEKTY/GoIT/sass/_services.scss */
.services__content > p {
  width: 100%;
  height: 39px;
  color: #999999;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

/* line 80, ../PROJEKTY/GoIT/sass/_services.scss */
.services__divider {
  width: 60px;
  height: 3px;
  margin: 56px auto;
  background-color: #f38181;
}

/* line 1, ../PROJEKTY/GoIT/sass/_team.scss */
.team {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 42px;
}

@media (max-width: 992px) {
  /* line 1, ../PROJEKTY/GoIT/sass/_team.scss */
  .team {
    padding: 28px;
  }
}

@media (max-width: 768px) {
  /* line 1, ../PROJEKTY/GoIT/sass/_team.scss */
  .team {
    padding: 16px;
  }
}

@media (max-width: 576px) {
  /* line 1, ../PROJEKTY/GoIT/sass/_team.scss */
  .team {
    padding: 14px;
  }
}

/* line 15, ../PROJEKTY/GoIT/sass/_team.scss */
.team__subtitle {
  width: 100%;
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin-top: 56px;
}

/* line 25, ../PROJEKTY/GoIT/sass/_team.scss */
.team__title {
  width: 100%;
  color: #333333;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

/* line 35, ../PROJEKTY/GoIT/sass/_team.scss */
.team__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 1rem;
}

/* line 40, ../PROJEKTY/GoIT/sass/_team.scss */
.team__card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 28px;
}

@media (max-width: 992px) {
  /* line 40, ../PROJEKTY/GoIT/sass/_team.scss */
  .team__card {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  /* line 40, ../PROJEKTY/GoIT/sass/_team.scss */
  .team__card {
    padding: 14px;
  }
}

/* line 53, ../PROJEKTY/GoIT/sass/_team.scss */
.team__photoContainer {
  position: relative;
  background-color: #95e1d3;
  width: 380px;
  height: 470px;
  margin-bottom: 32px;
}

/* line 60, ../PROJEKTY/GoIT/sass/_team.scss */
.team__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/png/dix.png");
  transition: 0.2s;
  background-size: cover;
}

/* line 70, ../PROJEKTY/GoIT/sass/_team.scss */
.team__photo:hover {
  left: -10px;
  top: -10px;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.73) 0%, rgba(243, 129, 129, 0.73) 100%), url("/images/png/dix.png");
}

/* line 80, ../PROJEKTY/GoIT/sass/_team.scss */
.team__photo:hover > div {
  z-index: 1;
}

/* line 83, ../PROJEKTY/GoIT/sass/_team.scss */
.team__photo:hover li {
  opacity: 1;
}

/* line 88, ../PROJEKTY/GoIT/sass/_team.scss */
.team__photoOverlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

/* line 101, ../PROJEKTY/GoIT/sass/_team.scss */
.team__socialsContainer {
  list-style: none;
  display: flex;
}

/* line 106, ../PROJEKTY/GoIT/sass/_team.scss */
.team__socialMedia {
  opacity: 0;
  transition: 0.2s;
  width: 56px;
  height: 56px;
}

/* line 112, ../PROJEKTY/GoIT/sass/_team.scss */
.team__socialMedia > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  background-color: #fce38a;
}

/* line 120, ../PROJEKTY/GoIT/sass/_team.scss */
.team__socialMedia > a:hover {
  background-color: #f38181;
}

/* line 123, ../PROJEKTY/GoIT/sass/_team.scss */
.team__socialMedia > a:hover svg g g path {
  fill: white;
}

/* line 129, ../PROJEKTY/GoIT/sass/_team.scss */
.team__divider {
  width: 60px;
  height: 3px;
  margin: 56px auto;
  background-color: #f38181;
}

/* line 136, ../PROJEKTY/GoIT/sass/_team.scss */
.team__description {
  width: 100%;
  color: #999999;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

/* line 145, ../PROJEKTY/GoIT/sass/_team.scss */
.team__name {
  width: 100%;
  color: #333333;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

/* line 154, ../PROJEKTY/GoIT/sass/_team.scss */
.team__position {
  margin: 0;
  width: 100%;
  color: #999999;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 200;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */