.team {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: $spacingL;
  @include mediaq(md) {
    padding: $spacingSm;
  }
  @include mediaq(s) {
    padding: $spacingXs;
  }
  @include mediaq(xs) {
    padding: $spacingXxs;
  }
  &__subtitle {
    width: 100%;
    color: $solidTextColor;
    font-family: $subTitleFont;
    font-size: $fontSize-m;
    text-align: center;
    padding: 0;
    margin-top: $spacingXl;
  }

  &__title {
    width: 100%;
    color: $solidTextColor;
    font-family: $titleFont;
    font-size: $fontSize-l;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;

    & div:nth-child(1) > div.team__photoContainer > div {
      background-image: url("./images/png/dix.png");
      &:hover {
        left: -10px;
        top: -10px;
        background-image: linear-gradient(
            to top,
            rgba(252, 227, 138, 0.73) 0%,
            rgba(243, 129, 129, 0.73) 100%
          ),
          url("./images/png/dix.png");
      }
    }
    & div:nth-child(2) > div.team__photoContainer > div {
      background-image: url("./images/png/campbell.png");
      &:hover {
        left: -10px;
        top: -10px;
        background-image: linear-gradient(
            to top,
            rgba(252, 227, 138, 0.73) 0%,
            rgba(243, 129, 129, 0.73) 100%
          ),
          url("./images/png/campbell.png");
      }
    }
    & div:nth-child(3) > div.team__photoContainer > div {
      background-image: url("./images/png/fertig.png");
      &:hover {
        left: -10px;
        top: -10px;
        background-image: linear-gradient(
            to top,
            rgba(252, 227, 138, 0.73) 0%,
            rgba(243, 129, 129, 0.73) 100%
          ),
          url("./images/png/fertig.png");
      }
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: $spacingSm;
    @include mediaq(md) {
      padding: $spacingXs;
    }
    @include mediaq(s) {
      padding: $spacingXxs;
    }
  }

  &__photoContainer {
    position: relative;
    background-color: $buttonBackgroundColor;
    width: 320px;
    height: 470px;
    margin-bottom: $spacingMd;
  }
  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    background-size: cover;
    &:hover div {
      z-index: 1;
    }
    &:hover li {
      opacity: 1;
    }
  }

  &__photoOverlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }

  &__socialsContainer {
    list-style: none;
    display: flex;
  }

  &__socialMedia {
    opacity: 1;
    transition: 0.2s;
    width: 56px;
    height: 56px;

    & > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: 0.2s;
      background-color: $secondaryColor;
      &:hover {
        background-color: $warningColor;
      }
      &:hover svg g g path {
        fill: $primaryColor;
      }
    }
  }

  &__divider {
    width: 60px;
    height: 3px;
    margin: $spacingXl auto;
    background-color: $warningColor;
  }

  &__description {
    width: 100%;
    color: $lightTextColor;
    font-family: $contentFont;
    font-size: $fontSize-s;

    line-height: 24px;
    text-align: center;
  }
  &__name {
    width: 100%;
    color: $solidTextColor;
    font-family: $titleFont;
    font-size: $fontSize-xs;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }
  &__position {
    margin: 0;
    width: 100%;
    color: $lightTextColor;
    font-family: "Roboto";
    font-size: $fontSize-s;
    font-weight: 200;

    font-style: italic;

    line-height: 24px;
    text-align: center;
  }
}
